<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="px-5"></div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo-list" routerLinkActive="active"
          >Todo List</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <a
        class="nav-link"
        *ngIf="!_auth.loggedIn()"
        routerLink="/login"
        routerLinkActive="active"
        >Login</a
      >
      <a
        class="nav-link"
        *ngIf="!_auth.loggedIn()"
        routerLink="/register"
        routerLinkActive="active"
        >Register</a
      >
      <a
        class="nav-link"
        *ngIf="_auth.loggedIn()"
        style="cursor: pointer"
        (click)="_auth.logoutUser()"
        >Logout</a
      >
    </ul>
  </div>
</nav>
