<section class="vh-100" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">
            <h4 class="text-center my-3 pb-3">To Do App</h4>

            <form
              class="row g-3 justify-content-center align-items-center mb-4 pb-2"
              (ngSubmit)="addTodo()"
            >
              <div class="col-8">
                <div class="form-outline">
                  <input
                    [(ngModel)]="newTodoTitle"
                    name="newTodoTitle"
                    type="text"
                    id="form1"
                    class="form-control"
                    placeholder="Enter a To Do here"
                  />
                </div>
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>

            <table class="table mb-4">
              <thead>
                <tr>
                  <th scope="col">No.</th>
                  <th scope="col">Todo item</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let todo of listTodo; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ todo.title }}</td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteTodo(todo._id.toString())"
                    >
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
